.a {
  height: 100vh;
  display: flex;
  align-items: center;
}
.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 100%;
}
.a-right {
  flex: 1;
}
.a-card-bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: black;
}
.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-title {
  font-weight: 400;
}
.a-sub {
  margin: 20px 0px;
}
.a-desc {
  font-weight: 300;
}
.a-award {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}

.a-award-img {
  height: 120px;
  width: 120px;
  border-radius: 30px;
}

.a-award-texts {
  width: 75%;
}
.a-award-title {
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .a {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    height: 40vh;
  }

  .a-card {
    display: none;
  }

  .a-card-bg {
    display: none;
  }
  .a-right {
    padding: 20px;
  }

}
